* {
    color: #333;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 300;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,.05);
    width: 70vw;
    height: 170px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-top: 200px;
}

h1 {
    font-size: 50px;
    font-weight: 300;
    color: #AD85B4;
    margin-top: 0px;
    margin-left: 60px;
    margin-bottom: 5px;
}

main div p {
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    color: #333;
    margin-left: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

section {
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,.05);
    width: 70vw;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

section.clients {
    height: 300px;
    justify-content: left;
    margin-bottom: 0px;
}

div.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: auto;
}

div.clients img {
    width: 70%;
    border-radius: 50%;
    margin: 10px;
}

div.clients p {
    margin: 0px;
}

nav {
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,.05);
    width: 400px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav div {
    text-align: center;
}

nav div p {
    text-align: left;
    margin: auto;
    margin-bottom: 40px;
    width: 70%;
}

button.nav-button {
    background-color: #f1f1f1;
    height: 50px;
    width: 70%;
    border: none;
    border-radius: 15px;
    transition: background-color 200ms ease-in;
}

button.nav-button:hover {
    background-color: #AD85B4;
    color: #ffffff;
}

button.nav-button-current {
    background-color: #AD85B4;
    color: #ffffff;
    font-weight: 400;
    height: 50px;
    width: 70%;
    border: none;
    border-radius: 15px;
}

img {
    align-self: baseline;
}

.break-line {
    background-color: #333;
    width:70%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.break {
    background-color: aqua;
    flex-basis: 100%;
    height: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.break.spaced {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.break-vertical {
    width: 40px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0px;
    margin: 40px 40px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1500px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 0px;
        margin: 40px 40px;
    }
}

@media screen and (max-width: 800px) {
    .break-vertical {
        width: 0px;
    }

    main {
        width: 400px;
    }

    section {
        width: 400px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 0px;
        margin: 40px 40px;
    }
}

