* {
    color: #333;
    font-size: 12px;
    font-family: "Roboto";
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    min-height: 100vh;
}

h1 {
    font-weight: 100;
    padding-left: 60px;
    color: #AD85B4;
    font-size: 40px;
}

a {
    text-decoration: none;
    transition: color 100ms ease-in;
}

a:hover {
    color: #AD85B4;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100px;
}

div.links {
    padding-right: 5%;
}

div.links a {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

div.links a.active {
    color: #AD85B4;
}

div.introduction {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.introduction a img {
    padding-bottom: 20px;
}

div.introduction p {
    background-color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    width: 550px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,.1);
    border-radius: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0px;
    padding-bottom: 60px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    height: 100px;
}

footer ul {
    text-align: right;
    padding-right: 30px;
}

footer ul li {
    font-size: 8px;
    font-weight: 100px;
    list-style-type: none;
}