body {
    margin: 0;
}

div.row {
    display: flexbox;
    flex-wrap: wrap;
    padding: 0 4px;
}

div.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

div.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}